body{
    background-color: #121212;
}

.nav-extended{
    background-image: url("../image/imageHeader.webp");
    background-blend-mode: soft-light;
}

nav ul li.active, .tab a.active {
    border-bottom: solid 2px #FFF;
    background-color: transparent;
}

.nav-header h1{
    text-shadow: 2px 2px 12px #000000;
}

.fadeOut{
    opacity: 0;
    transition: 1s;
}
