body{
    background-color: #121212;
}

.nav-extended{
    background-image: url("../image/teste3.jpg");
    background-size: cover;
    background-blend-mode: soft-light;
}

nav ul li.active, .tab a.active {
    border-bottom: solid 2px #FFF;
    background-color: transparent;
}

.nav-header h1{
    text-shadow: 2px 2px 12px #000000;
}

.card{
    background-color: #1e1e1e;
    color: #FFFFFF;
}